.texto-registro h1 {
    color: #0F75BC;
    text-align: center;
}

.form-doble {
    display: flex;
    justify-content: space-between;
}

.form-registro {
    margin: 20px auto;
    max-width: 1000px;
}

.nombre,
.email,
.apellidos,
.telefonoo,
.dni,
.direccion,
.trabajo,
.ingresos,
.pass {
    width: 48%;
    border: 2px solid #0f75bc;
    height: 41px;
    background-color: #F8F9FA;
    margin-bottom: 15px;
}

.form-registro textarea {
    width: 100%;
    border: 2px solid #0f75bc;
    height: 41px;
    background-color: #F8F9FA;
}

.form-registro textarea {
    height: 10em;
    font-family: Arial;
}

.form-registro p {
    margin-bottom: 30px;
    color: black;
    text-align: center;
}